!!!
%html
  %head
    %meta{:content => "text/html; charset=windows-1251", "http-equiv" => "Content-Type"}/
    %meta{:content => "30; url=http://reurl.ru/", "http-equiv" => "refresh"}/
    %title Технические работы
  %body{:style => "background: white; text-align: center; color: #C5C5C5; font: 60px Helvetica, Arial;"}
    %div{style: 'margin-top:100px'}
      %img{:src => "/imgs/uc.png"}/
    %h1{:style => "font: 50px Helvetica, Arial; margin: 0 0 20px 0;"} Технические работы
    %div{:style => "margin-top: 0px; font-size: 30px;"}
      Мы вернемся в ближайшие минуты :)
      %br/
      %a{:href => "http://reurl.ru/", :style => "font-size: 19px; color: #C5C5C5"} Перейти на главную